
<header class="top-navbar" ng-controller="NavbarCtrl">

  <!-- Search -->
  <div class="search-wrapper">
    <span class="material-symbols-outlined search-icon">search</span>
    <input
      class="search-input"
      type="text"
      placeholder="Search medicines, orders, customers..."
      ng-model="searchQuery"/>
  </div>

  <div class="navbar-right">

    <button class="icon-btn" ng-click="clearNotifications()" title="Notifications">
      <span class="material-symbols-outlined">notifications</span>
      <span class="notif-dot" ng-show="hasNotifications"></span>
    </button>

    <div class="divider-v"></div>

    <div class="d-none d-sm-block text-end">
      <p class="user-name">{{ currentUser.name || currentUser.first_name || currentUser.email }}</p>
      <p class="user-role">{{ currentUser.role }}</p>
    </div>
    <div class="avatar"
         ng-if="currentUser.avatar"
         ng-style="{ 'background-image': 'url(' + currentUser.avatar + ')' }"
         title="{{ currentUser.name }}">
    </div>
    <div class="customer-avatar"
         ng-if="!currentUser.avatar">
      {{ getInitials(currentUser.name || currentUser.first_name || currentUser.email) }}
    </div>

    <!-- Logout -->
    <button class="icon-btn ms-1" ng-click="logout()" title="Logout">
      <span class="material-symbols-outlined">logout</span>
    </button>

  </div>
</header>